*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#contenedor{
    border: 3px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 115vh 30vh;
    grid-template-areas: 
    "header"
    "contacto"
    "footer";
}

/* Comienzo Header */

.header{
    display: flex;
    grid-area: "header";
    position: sticky;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    padding-right: 10%;
    z-index: 50;
}

.logo{
    height: 14vh;
    padding-left: 2vh;
}

.header li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0vh 4vh;
    font-family: Oswald, sans-serif;
    color: black;
}

.header ul :hover{
    font-size: 24px;
    text-decoration: underline;
    transition: all 2s;
}

/* Fin Header */

/* Comienzo Contacto */

.contacto{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-area: "contacto";
    background-image: url(./Imagenes/Fondo\ Contacto.jpg);
    background-position: center;
    background-size: cover;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 600px;
    width: 500px;
    border: solid 5px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.4);
}

form label{
    font-family: Oswald, sans-serif;
    color: white;
}

.sexo1{
    display: flex;
    flex-direction: column;
    font-family: Oswald, sans-serif;
    color: white;
}

.sexo2{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Oswald, sans-serif;
    color: white;
}

.intereses{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    font-family: Oswald, sans-serif;
    color: white;
}

.terminos{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    font-family: Oswald, sans-serif;
    color: white;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Oswald, sans-serif;
    color: rgb(0, 0, 0);
}

/* Fin Contacto */

/* Comienzo Footer */

.footer{
    display: flex;
    grid-area: "footer";
    background-color: rgb(0, 89, 255);
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

.footer1{
    display: flex;
    flex-direction: column;
}

.footer1 h3{
    font-size: 3vh;
    text-decoration: underline;
    font-family: Oswald, sans-serif;
    color: white;
}

.footer1 h5{
    font-size: 2vh;
    margin: 1vh 0vh;
    font-family: Oswald, sans-serif;
    color: white;
}

.footer1 a :hover{
    text-decoration: underline;
}

.redes{
    display: flex;
    flex-direction: row;
}

.redes img{
    height: 5vh;
    margin: 4vh 1vh;
}

.redes a :hover{
    transform: scale(1.10);
    transition: all 1s;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px
}

/* Fin Footer */




/* Inicio Media Queries - Tablet */

@media only screen and (max-width: 1024px){

    .logo{
        height: 68px;
    }

    .header ul{
        text-align: center;
    }

    .header li{
        font-size: 10px;
        padding-right: 10px;
    }

    .header ul :hover{
        font-size: 15px;
        text-decoration: underline;
        transition: all 2s;
    }
}
/* Inicio Media Queries - Tablet */


/* Inicio Media Queries - Mobile S */

@media only screen and (max-width: 767px ) {
    
    #contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 45px 700px 100px;
        overflow: hidden;
    }

    .header{
        padding-right: 25px;
    }

    .logo{
        height: 40px;
    }

    .header ul{
        text-align: center;
    }

    .header li{
        font-size: 7px;
        padding: 0px 5px;
    }

    .header ul :hover{
        font-size: 8px;
        text-decoration: underline;
        transition: all 2s;
    }

    .formulario{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
        width: 100%;
        font-size: 15px;
        border: none;
    }

    .sexo2{
        display: flex;
        flex-direction: column;
    }

    .footer{
        width: 100%;
        height: 60px;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .footer1 h3{
        font-size: 5px;
        padding-bottom: 5px;
    }

    .footer1 h5{
        font-size: 2px;
        margin: 5px 0px;
    }

    .footer1 form{
        margin: 0px;
        padding: 0px;
    }

    .redes{
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .redes img{
        height: 5px;
    }
}

/* Fin Media Queries - Mobile S */