*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 55vh 60vh 110vh 30vh;
    grid-template-areas: 
    "header"
    "inicio"
    "productos"
    "nosotros"
    "footer";
}


/* Comienzo Header */

.header{
    display: flex;
    grid-area: "header";
    position: sticky;
    top: 0px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    padding-right: 10%;
    z-index: 50;
}

.logo{
    height: 14vh;
    padding-left: 2vh;
}

.header li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0vh 4vh;
    font-family: Oswald, sans-serif;
    color: black;
}

.header ul :hover{
    font-size: 24px;
    text-decoration: underline;
    transition: all 2s;
}

/* Fin Header */


/* Inicio Inicio */

.inicio{
    display: flex;
    grid-area: "inicio";
    justify-content: center;
    align-items: top;
    background-image: url(./Imagenes/Fondo\ Index.png);
    background-size: cover;
    background-position: center;
}

/* Fin Inicio */


/* Inicio Productos */

.productos{
    display: flex;
    grid-area: "productos";
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(./Imagenes/Fondo\ Explora\ Productos.jpeg);
}

.productos h2{
    color: white;
    font-size: 35px;
    font-family: Oswald, sans-serif;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    padding-top: 15px;
}

.imagenes_productos{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.producto{
    height: 35vh
}

.imagenes_productos a :hover{
    transform: scale(1.10);
    transition: all 1.5s;
}

/* Fin Productos */


/* Comiernzo Nosotros */

.nosotros{
    display: flex;
    flex-direction: column;
    grid-area: "nosotros";
    justify-content: center;
    text-align: center;
    background-image: url(./Imagenes/Fondo\ Sobre\ Nosotros.jpg);
    background-size: cover;
    background-position: center;
    font-family: Dongle, sans-serif;
    font-size: 60px;
    color: white;
}

.nosotros h2{
    font-size: 60px !important;
    font-family: Dongle, sans-serif !important;
}

.nosotros p{
    font-size: 30px;
    padding: 0% 5%;
    font-family: Dongle, sans-serif !important;
}


/* Fin Nosotros */


/* Inicio Footer */

.footer{
    display: flex;
    grid-area: "footer";
    background-color: rgb(0, 89, 255);
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

.footer1{
    display: flex;
    flex-direction: column;
}

.footer1 h3{
    font-size: 3vh;
    text-decoration: underline;
    font-family: Oswald, sans-serif;
    color: white;
}

.footer1 h5{
    font-size: 2vh;
    margin: 1vh 0vh;
    font-family: Oswald, sans-serif;
    color: white;
}

.footer1 a :hover{
    text-decoration: underline;
}

.redes{
    display: flex;
    flex-direction: row;
}

.redes img{
    height: 5vh;
    margin: 4vh 1vh;
}

.redes a :hover{
    transform: scale(1.10);
    transition: all 1s;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 60px
}
/* Fin Footer */


/* Inicio Media Queries - Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px){

    #contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 70px 200px 700px 350px 200px;
        overflow: hidden;
    }

    .logo{
        height: 68px;
    }

    .header ul{
        text-align: center;
    }

    .header ul :hover{
        font-size: 10px;
        text-decoration: underline;
        transition: all 2s;
    }

    .header li{
        font-size: 10px;
        padding-right: 5px;
    }

    .header ul :hover{
        font-size: 12px;
        text-decoration: underline;
        transition: all 2s;
    }

    .imagenes_productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .productos h2{
        font-size: 30px;
    }

    .producto{
        height: 240px;
        padding-top: 30px;
        padding-right: 70px;
        padding-left: 70px;
    }

    .nosotros{
        justify-content: flex-start;
        font-size: 40px;
        padding-top: 20px;
    }

    .nosotros p{
        font-size: 15px;
        padding: 5px 12%;
    }


    .footer{
        justify-content: space-evenly;
        align-items: baseline;
    }

    .footer1 h3{
        font-size: 18px;
        padding-bottom: 10px;
    }

    .footer1 h5{
        font-size: 10px;
        margin: 5px 0px;
    }

}

/* Inicio Media Queries - Tablet */


/* Inicio Media Queries - Mobile S */

@media only screen and (max-width: 767px ) {
    
    #contenedor{
        grid-template-columns: 100%;
        grid-template-rows: 45px 80px 700px 100px 100px;
        overflow: hidden;
    }

    .header{
        padding-right: 25px;
    }

    .logo{
        height: 40px;
    }

    .header ul{
        text-align: center;
    }

    .header li{
        font-size: 8px;
        padding: 0px 3px;
    }

    .inicio h2{
        align-items: center;
        font-size: 20px;
        padding: 40px;
        color: white;
        text-shadow: 1px 1px 5px rgb(141, 141, 141);
    }

    .imagenes_productos{
        flex-direction: column;
    }

    .productos h2{
        font-size: 15px;
    }

    .producto{
        height: 130px;
        padding-top: 15px;
    }

    .nosotros h2{
        justify-content: flex-start;
        font-size: 20px !important;
    }

    .nosotros p{
        font-size: 3px;
        padding: 0px 10%;
    }

    .footer{
        width: 100%;
        height: 100px;
        justify-content: space-evenly;
        align-items: baseline;
    }

    .footer1 h3{
        font-size: 5px;
        padding-bottom: 5px;
    }

    .footer1 h5{
        font-size: 2px;
        margin: 5px 0px;
    }

    form{
        margin: 0px;
        padding: 0px;
    }

    .redes{
        position: absolute;
        top: 940px;
        right: 20px;
    }

    .redes img{
        height: 8px;
    }

}

/* Fin Media Queries - Mobile S */

